# ğŸ“Š Featheræ–‡ä»¶åˆ†æå™¨

**ç”¨äºæŸ¥çœ‹å’Œåˆ†æFreqtradeçš„Featheræ•°æ®æ–‡ä»¶**

è¿™ä¸ªnotebookå¯ä»¥å¸®ä½ ï¼š
- ğŸ” è‡ªåŠ¨å‘ç°æ‰€æœ‰.featheræ–‡ä»¶
- ğŸ“Š æŸ¥çœ‹æ–‡ä»¶åŸºæœ¬ä¿¡æ¯
- ğŸ“‹ é¢„è§ˆæ•°æ®å†…å®¹
- ğŸ’¾ å¯¼å‡ºæ•°æ®ä¸ºå…¶ä»–æ ¼å¼

# å¯¼å…¥å¿…è¦çš„åº“

In [1]:
import pandas as pd
import os
import glob
from datetime import datetime

print("âœ… å¯¼å…¥å®Œæˆï¼")
print(f"ğŸ“Š Pandasç‰ˆæœ¬: {pd.__version__}")

âœ… å¯¼å…¥å®Œæˆï¼
ğŸ“Š Pandasç‰ˆæœ¬: 2.3.2

# é€‰æ‹©è¦åˆ†æçš„æ–‡ä»¶

In [2]:
DATA_DIR = "user_data/data"

print(f"ğŸ“ æ•°æ®ç›®å½•: {DATA_DIR}")

# æ£€æŸ¥ç›®å½•æ˜¯å¦å­˜åœ¨
if os.path.exists(DATA_DIR):
    print("âœ… ç›®å½•å­˜åœ¨")
else:
    print(f"âŒ ç›®å½•ä¸å­˜åœ¨: {DATA_DIR}")
    print("è¯·å…ˆè¿è¡Œ: freqtrade download-data")

ğŸ“ æ•°æ®ç›®å½•: user_data/data
âœ… ç›®å½•å­˜åœ¨

# æŸ¥æ‰¾æ‰€æœ‰featheræ–‡ä»¶

In [3]:
def find_feather_files(directory):
    pattern = os.path.join(directory, "**", "*.feather")
    files = glob.glob(pattern, recursive=True)
    return sorted(files)

# æŸ¥æ‰¾æ–‡ä»¶
feather_files = find_feather_files(DATA_DIR)

print(f"ğŸ” æ‰¾åˆ° {len(feather_files)} ä¸ª.featheræ–‡ä»¶:")
print("=" * 50)

for i, file_path in enumerate(feather_files, 1):
    file_size = os.path.getsize(file_path) / 1024 / 1024  # MB
    file_name = os.path.basename(file_path)
    print(f"{i:2d}. {file_name:<40} ({file_size:.1f} MB)")

if not feather_files:
    print("âŒ æœªæ‰¾åˆ°.featheræ–‡ä»¶")
    print("è¯·å…ˆè¿è¡Œ: freqtrade download-data")

ğŸ” æ‰¾åˆ° 6 ä¸ª.featheræ–‡ä»¶:
==================================================
 1. BTC_USDT_USDT-5m-futures.feather         (2.8 MB)
 2. BTC_USDT_USDT-8h-funding_rate.feather    (0.0 MB)
 3. BTC_USDT_USDT-8h-mark.feather            (0.0 MB)
 4. ETH_USDT_USDT-5m-futures.feather         (2.8 MB)
 5. ETH_USDT_USDT-8h-funding_rate.feather    (0.0 MB)
 6. ETH_USDT_USDT-8h-mark.feather            (0.0 MB)

# é€‰æ‹©è¦åˆ†æçš„æ–‡ä»¶

In [8]:
selected_file = None

if feather_files:
    # é»˜è®¤é€‰æ‹©ç¬¬ä¸€ä¸ªæ–‡ä»¶
    choice = 1
    if 1 <= choice <= len(feather_files):
        selected_file = feather_files[choice - 1]
        print(f"\nâœ… å·²é€‰æ‹©æ–‡ä»¶: {os.path.basename(selected_file)}")
    else:
        print("\nâŒ æ— æ•ˆçš„é€‰æ‹©")
else:
    print("âŒ æ²¡æœ‰å¯ç”¨çš„æ–‡ä»¶")

âœ… å·²é€‰æ‹©æ–‡ä»¶: BTC_USDT_USDT-5m-futures.feather

# è¯»å–å’Œåˆ†ææ–‡ä»¶

In [9]:
df = None

if selected_file:
    try:
        print(f"ğŸ“– æ­£åœ¨è¯»å–æ–‡ä»¶: {os.path.basename(selected_file)}")
        df = pd.read_feather(selected_file)
        
        print("\n" + "=" * 60)
        print("ğŸ“Š æ–‡ä»¶åˆ†ææŠ¥å‘Š")
        print("=" * 60)
        
        # åŸºæœ¬ä¿¡æ¯
        print(f"ğŸ“ æ–‡ä»¶å: {os.path.basename(selected_file)}")
        print(f"ğŸ“ˆ è¡Œæ•°: {len(df):,}")
        print(f"ğŸ“Š åˆ—æ•°: {len(df.columns)}")
        print(f"ğŸ’¾ å¤§å°: {os.path.getsize(selected_file) / 1024 / 1024:.2f} MB")
        
        # æ—¶é—´èŒƒå›´
        if 'date' in df.columns:
            print(f"ğŸ“… æ—¶é—´èŒƒå›´: {df['date'].min()} â†’ {df['date'].max()}")
        
        print(f"\nğŸ“‹ æ•°æ®åˆ—:")
        for i, col in enumerate(df.columns, 1):
            print(f"  {i}. {col}")
            
        print("\nâœ… æ–‡ä»¶è¯»å–æˆåŠŸ!")
        
    except Exception as e:
        print(f"âŒ è¯»å–å¤±è´¥: {e}")
        df = None
else:
    print("âŒ æœªé€‰æ‹©æ–‡ä»¶")

ğŸ“– æ­£åœ¨è¯»å–æ–‡ä»¶: BTC_USDT_USDT-5m-futures.feather

============================================================
ğŸ“Š æ–‡ä»¶åˆ†ææŠ¥å‘Š
============================================================
ğŸ“ æ–‡ä»¶å: BTC_USDT_USDT-5m-futures.feather
ğŸ“ˆ è¡Œæ•°: 110,533
ğŸ“Š åˆ—æ•°: 6
ğŸ’¾ å¤§å°: 2.81 MB
ğŸ“… æ—¶é—´èŒƒå›´: 2024-09-01 00:00:00+00:00 â†’ 2025-09-19 19:00:00+00:00

ğŸ“‹ æ•°æ®åˆ—:
  1. date
  2. open
  3. high
  4. low
  5. close
  6. volume

âœ… æ–‡ä»¶è¯»å–æˆåŠŸ!

# æ•°æ®é¢„è§ˆ

In [10]:
if df is not None:
    print("ğŸ” æ•°æ®é¢„è§ˆ (å‰5è¡Œ):")
    print("-" * 80)
    display(df.head())
    
    print("\nğŸ” æ•°æ®é¢„è§ˆ (å5è¡Œ):")
    print("-" * 80)
    display(df.tail())
    
    print("\nğŸ“Š åŸºæœ¬ç»Ÿè®¡ä¿¡æ¯:")
    print("-" * 40)
    display(df.describe())
else:
    print("âŒ æ²¡æœ‰æ•°æ®å¯æ˜¾ç¤º")

ğŸ” æ•°æ®é¢„è§ˆ (å‰5è¡Œ):
--------------------------------------------------------------------------------

                       date     open     high      low    close   volume
0 2024-09-01 00:00:00+00:00  58941.9  58951.4  58925.2  58951.4   95.907
1 2024-09-01 00:05:00+00:00  58951.4  59011.6  58943.7  59004.5  202.985
2 2024-09-01 00:10:00+00:00  59004.6  59033.0  58990.1  59008.9  227.436
3 2024-09-01 00:15:00+00:00  59009.0  59052.7  58992.8  58992.8  285.417
4 2024-09-01 00:20:00+00:00  58992.8  58998.1  58960.0  58960.0  156.475

ğŸ” æ•°æ®é¢„è§ˆ (å5è¡Œ):
--------------------------------------------------------------------------------

,date,open,high,low,close,volume
110528,2025-09-19 18:40:00+00:00,115420.6,115575.3,115420.6,115539.2,371.786
110529,2025-09-19 18:45:00+00:00,115539.1,115596.0,115385.1,115386.0,366.477
110530,2025-09-19 18:50:00+00:00,115386.1,115417.2,115346.4,115362.4,211.838
110531,2025-09-19 18:55:00+00:00,115362.4,115366.4,115322.0,115365.7,216.133
110532,2025-09-19 19:00:00+00:00,115365.7,115433.1,115347.0,115347.0,287.803

ğŸ“Š åŸºæœ¬ç»Ÿè®¡ä¿¡æ¯:
----------------------------------------

,open,high,low,close,volume
count,110533.000000,110533.000000,110533.000000,110533.000000,110533.000000
mean,94059.808611,94140.325305,93978.541853,94060.320003,689.785816
std,17452.169911,17456.038545,17447.707266,17451.969770,1011.299521
min,52708.200000,52973.400000,52510.800000,52708.200000,0.000000
25%,83994.600000,84072.700000,83926.000000,83995.000000,212.894000
50%,96933.000000,97008.500000,96849.600000,96933.400000,387.373000
75%,107142.100000,107189.500000,107070.400000,107142.200000,756.110000
max,124300.000000,124545.600000,124150.500000,124300.000000,34050.857000

# æ•°æ®å¯¼å‡ºåŠŸèƒ½

In [7]:
if df is not None:
    print("ğŸ’¾ å¯¼å‡ºæ•°æ®...")
    
    # ç”Ÿæˆå¸¦æ—¶é—´æˆ³çš„æ–‡ä»¶å
    base_name = os.path.splitext(os.path.basename(selected_file))[0]
    timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
    
    # å¯¼å‡ºä¸ºCSV
    csv_file = f"{base_name}_{timestamp}.csv"
    df.to_csv(csv_file, index=False)
    
    # æ˜¾ç¤ºç»“æœ
    csv_size = os.path.getsize(csv_file) / 1024 / 1024
    print(f"âœ… å·²å¯¼å‡ºä¸ºCSVæ–‡ä»¶: {csv_file}")
    print(f"ğŸ“Š æ–‡ä»¶å¤§å°: {csv_size:.2f} MB")
    
    print("\nğŸ¯ ç°åœ¨å¯ä»¥ç”¨ä»¥ä¸‹å·¥å…·æ‰“å¼€:")
    print("  â€¢ Microsoft Excel")
    print("  â€¢ LibreOffice Calc")
    print("  â€¢ Google Sheets")
    print("  â€¢ ä»»æ„æ–‡æœ¬ç¼–è¾‘å™¨")
else:
    print("âŒ æ²¡æœ‰æ•°æ®å¯å¯¼å‡º")

ğŸ’¾ å¯¼å‡ºæ•°æ®...
âœ… å·²å¯¼å‡ºä¸ºCSVæ–‡ä»¶: BTC_USDT_USDT-5m-futures_20250920_033139.csv
ğŸ“Š æ–‡ä»¶å¤§å°: 7.13 MB

ğŸ¯ ç°åœ¨å¯ä»¥ç”¨ä»¥ä¸‹å·¥å…·æ‰“å¼€:
  â€¢ Microsoft Excel
  â€¢ LibreOffice Calc
  â€¢ Google Sheets
  â€¢ ä»»æ„æ–‡æœ¬ç¼–è¾‘å™¨

## ğŸ¯ ä½¿ç”¨è¯´æ˜

### å¿«é€Ÿå¼€å§‹
1. ç‚¹å‡»æ¯ä¸ªä»£ç å•å…ƒæ ¼å·¦ä¾§çš„ â–¶ï¸ æŒ‰é’®æ¥è¿è¡Œ
2. æˆ–è€…ç‚¹å‡»èœå• "Run" â†’ "Run All Cells"

### ä¸»è¦åŠŸèƒ½
- ğŸ” **è‡ªåŠ¨å‘ç°**: æ‰«ææ‰€æœ‰.featheræ–‡ä»¶
- ğŸ“Š **æ•°æ®åˆ†æ**: æ˜¾ç¤ºæ–‡ä»¶ä¿¡æ¯å’Œç»Ÿè®¡
- ğŸ“‹ **å†…å®¹é¢„è§ˆ**: æŸ¥çœ‹æ•°æ®çš„å‰åéƒ¨åˆ†
- ğŸ’¾ **æ•°æ®å¯¼å‡º**: è½¬æ¢ä¸ºCSVæ ¼å¼

### è‡ªå®šä¹‰é€‰é¡¹
- ä¿®æ”¹ `DATA_DIR` å˜é‡æŒ‡å®šä¸åŒç›®å½•
- ä¿®æ”¹ `choice = 1` æ¥é€‰æ‹©ä¸åŒæ–‡ä»¶
- è°ƒæ•´ `df.head()` ä¸­çš„æ•°å­—æŸ¥çœ‹æ›´å¤šè¡Œ

### æ•…éšœæ’é™¤
- **æ–‡ä»¶ä¸å­˜åœ¨**: è¯·å…ˆè¿è¡Œ `freqtrade download-data`
- **æƒé™é”™è¯¯**: ç¡®ä¿æœ‰è¯»å–æ–‡ä»¶çš„æƒé™
- **åŒ…ç¼ºå¤±**: è¿è¡Œ `pip install pandas`

---

**ğŸ’¡ æç¤º**: è¿™ä¸ªnotebookæ˜¯å®Œå…¨äº¤äº’å¼çš„ï¼Œä½ å¯ä»¥è‡ªç”±ä¿®æ”¹å’Œå®éªŒï¼"